.toolbar{
    display: flex;
    justify-content: space-between;
}

.spacer{
    flex: 1;
}

.app-title{
    font-size: 20px;
    font-weight: bold;
}

.profile-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}